header{
    text-align: center;
    background-color: darkslategrey;
    color: white;
}

.introduce p{
    padding: 10px;
    border-style: solid;
    border-color: darkslategrey;
}

.favorite div{
    display: inline-block;
    padding: 10px;
   
    
}
.favorite li{
    padding:10px;

}

.favorite img{
    width: 196px;
    height: 130px;
   

}
.future {
    padding: 0px;
    border-style: solid;
    border-color: darkslategrey;
}
